{% extends 'navbar.html' %}

{% block title_block %} {{user.username}} {% endblock%}

{% block css_block %}
        <style>
            .profile{
                     height: 355px;
                     width: 450px;
                     border: 1px solid #138496;
                     border-radius: 10px;
                     }

             .crop{
                     width: 370px;
                     height: 220px;
                     overflow: hidden;
                     }
              .crop img{
                      width:38
                      0px;
                      height:280px;
                      margin: 5px 0px 0px 30px;
                      
              }
        </style>
{% endblock css_block %}

{% block body_block %}
    {% if oj_info %}
      {% for u in oj_info %}
        {% if request.user == u.user %}
          <strong>Usernam: {{u.user}}</strong><br/>
          <strong>UVA Usernam: {{u.uva_username}}</strong><br/>
          <strong>Codeforces_username: {{u.codeforces_username}} </strong><br/>
          <strong>Position: {{forloop.counter}}</strong>
        {% endif %}
      {% endfor %}
    {% endif %}
    <center>
    <div class='profile'>
    {% if user_profile %}
      {% for p in user_profile %}
        {% if p.profile_pic %}
           <img class="rounded-circle" src={{p.profile_pic.url}} width="150px" height="150px">
        {% else %}
            <img class="rounded-circle" src="/media/default.png" width="150px" height="150px" adius="50%">

        {% endif %}
      {% endfor %}
    {% endif %}
    
            <h3 style="text-align:center">{{profile.full_name}}</h3>
            <h6 style="color:#C83C30"><b>{{user_other.post.count}} posts &nbsp;||&nbsp; {{user_other.following.count}} followers &nbsp;||&nbsp; {{user_other.follower.count}} Following</b></h6><hr>

            <i>{{profile.description|linebreaks}}</i>
    </div>
    <hr>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">New Post</button>
    <a class="btn btn-sm btn-warning" href="{% url 'App_Login:edit'%}" >Edit Profile</a>
    <hr>

    </center>

<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Post a Photo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method='POST' enctype="multipart/form-data">
          {{form.as_p}}
          {% csrf_token %}
          <button type="submit" class="btn btn-info btn-md">Post</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="row">
{% for post in user.post.all%}  <!--using related_name-->
        
        <div class="crop">
        <img src="/media/{{post.image}}" title="{{post.caption}}">
        </div>
        
{% endfor %}
</div>
<br><hr><hr>


{% endblock body_block %}